.panels {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1vw;
}

.panels .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35vw;
    height: 80vh;
}

.container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
}

.title {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.title span {
    height: 4rem;
    font-weight: 800;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.subtitle span {
    height: 2rem;
}

.panels .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(35vw * 1.618);
    height: 80vh;
}

.button {
    height: 3rem;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
}

.button span {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.95);
}

.button:hover {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.8);
    transition: backdrop-filter 0.3s;
    transition: -webkit-backdrop-filter 0.3s;
    transition: box-shadow 0.5s;
    cursor: pointer;
}

hr {
    
}